Source: php53-ioncube
Section: php
Priority: optional
Maintainer: Sascha Kettler <kettler@gmx.net>
Build-Depends: debhelper (>= 5), php53, php53-dev
Standards-Version: 3.8.3
Homepage: http://www.php.net/

Package: php53-ioncube
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, php53
Description: ionCube Loader for PHP
 The ionCube Loader is needed to run PHP files encoded by the 
 ionCube Encoder.
 .
 Homepage: http://www.ioncube.com/loaders.php
