Source: php52-redis
Section: web
Priority: optional
Maintainer: Sascha Kettler <kettler@gmx.net>
Build-Depends: php52, php52-dev, shtool, chrpath, debhelper (>= 5), quilt, bison, flex
Standards-Version: 3.8.3
Homepage: http://github.com/nicolasff/phpredis

Package: php52-redis
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, php52
Description: Redis C extension for PHP5.
