#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

DEB_HOST_GNU_TYPE	?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE	?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_BUILD_ARCH		?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)

PHP5_HOST_GNU_TYPE	= $(subst gnulp,gnu,$(DEB_HOST_GNU_TYPE))
PHP5_BUILD_GNU_TYPE	= $(subst gnulp,gnu,$(DEB_BUILD_GNU_TYPE))

PHP5_HOST_GNU_TYPE	:= $(shell echo $(PHP5_HOST_GNU_TYPE) | sed 's/-gnu$$//')
PHP5_BUILD_GNU_TYPE	:= $(shell echo $(PHP5_BUILD_GNU_TYPE) | sed 's/-gnu$$//')

# enable the hardening wrapper
DEB_BUILD_HARDENING = 1
# but disable PIE
DEB_BUILD_HARDENING_PIE = 0
export DEB_BUILD_HARDENING DEB_BUILD_HARDENING_PIE

CFLAGS = -O2 -Wall -fsigned-char -fno-strict-aliasing
# LFS support
ifneq (yes,$(PHP5_COMPAT))
  CFLAGS += $(shell getconf LFS_CFLAGS)
endif

ifneq (nostrip, $(findstring nostrip, $(DEB_BUILD_OPTIONS)))
        install_strip = -s
endif

build: build-stamp

build-stamp: configure-stamp
	dh_testdir
	cd build && $(MAKE)
	touch build-stamp

configure: configure-stamp

configure-stamp:
	dh_testdir
	if [ -d build ]; then rm -rf build; fi
	-mkdir build
	phpize
	cd build && \
	CFLAGS="$(CFLAGS)" PROG_SENDMAIL="$(PROG_SENDMAIL)" ../configure \
		--prefix=/usr --with-apxs2=/usr/bin/apxs2 \
		--with-config-file-path=/etc/php5/apache2 \
		--with-config-file-scan-dir=/etc/php5/apache2/conf.d \
		$(COMMON_CONFIG)
	touch configure-apache2-stamp

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	cd apache2-build && $(MAKE) install-sapi install-cli install-build install-headers install-programs INSTALL_IT=/bin/true INSTALL_ROOT=$(PWD)/debian/php52
	mkdir -p debian/php52/var/lib/php5
	chmod 01733 debian/php52/var/lib/php5
	mkdir -p debian/php52/$(EXTENSION_DIR)
	mkdir -p debian/php52/var/log/php5
	chown root:www-data debian/php52/var/log/php5
	chmod 0750 debian/php52/var/log/php5
	
	# install apache2 DSO module
	mkdir -p debian/php52/`apxs2 -q LIBEXECDIR`
	cp apache2-build/.libs/libphp5.so debian/php52/`apxs2 -q LIBEXECDIR`/
	mkdir -p debian/php52/etc/apache2/mods-available
	cp debian/apache2-php5.load debian/php52/etc/apache2/mods-available/php5.load
	cp debian/apache2-php5.conf debian/php52/etc/apache2/mods-available/php5.conf
	mkdir -p debian/php52/etc/php5/apache2
	cp php.ini-recommended debian/php52/etc/php5/apache2/php.ini
	sed -i "s#^extension_dir = \"./\"#extension_dir = \"$(EXTENSION_DIR)\"#" debian/php52/etc/php5/apache2/php.ini
	
	# install CLI
	cp cli-build/sapi/cli/php debian/php52/usr/bin/php
	cp cli-build/sapi/cli/php.1 debian/php52/usr/share/man/man1/php5.1
	mkdir -p debian/php52/etc/php5/cli
	cp php.ini-recommended debian/php52/etc/php5/cli/php.ini
	sed -i 's#^display_errors = Off#display_errors = stderr#' debian/php52/etc/php5/cli/php.ini
	sed -i "s#^extension_dir = \"./\"#extension_dir = \"$(EXTENSION_DIR)\"#" debian/php52/etc/php5/cli/php.ini
	sed -i "s#^output_buffering = 4096#output_buffering = Off#" debian/php52/etc/php5/cli/php.ini
	
	# Install PEAR
	cp -r pear-build/* debian/php52/
	
	# Instal configuration
	mkdir -p debian/php52/etc/php5/conf.d
	cp debian/php5-logging.ini debian/php52/etc/php5/conf.d/logging.ini
	cp debian/php5-limits.ini debian/php52/etc/php5/conf.d/limits.ini
	cp debian/php5-environment.ini debian/php52/etc/php5/conf.d/environment.ini
	
	touch install-stamp

binary: binary-arch binary-indep

binary-indep:

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs CHANGELOG
	dh_strip -s
	dh_link -s
	dh_compress -s -X.ini
	dh_installdeb -s
	dh_shlibdeps -s
	dh_gencontrol -s
	dh_md5sums -s
	dh_builddeb -s

clean:
	dh_testdir
	dh_testroot
	rm -f configure-stamp
	rm -f configure-stamp
	rm -f install-stamp
	phpize --clean
	dh_clean

.PHONY: build clean binary-indep binary-arch binary install configure
