Source: php53-syck
Section: php
Priority: optional
Maintainer: Sascha Kettler <kettler@gmx.net>
Build-Depends: php53, php53-dev, shtool, chrpath, debhelper (>= 5), quilt, bison, flex
Standards-Version: 3.8.3
Homepage: http://www.php.net/

Package: php53-syck
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, php53
Description: PHP binding to the Syck library
 YAML-1.0 parser and emitter
 .
 YAML(tm) (rhymes with "camel") is a straightforward machine parsable 
 data serialization format designed for human readability and interaction
 with scripting languages. YAML is optimized for data serialization,
 configuration settings, log files, Internet messaging and filtering.
 .
 Homepage: http://pecl.php.net/package/syck
