Source: qlc
Section: Other
Priority: optional
Maintainer: Sascha Kettler <kettler@gmx.net>
Build-Depends: debhelper (>= 7.0.50), libqt4-dev (>= 4.6.0), libasound2-dev (>= 1.0.16),
               libusb-dev (>= 2:0.1.12), libftdi-dev (>= 0.17), shared-mime-info (>= 0.71),
               libartnet-dev (>= 1.1.0), pkg-config, make, g++, libstdc++-dev
#, libola-dev
Standards-Version: 3.6.0

Package: qlc
Section: Other
Architecture: i386 amd64
Replaces: qlc-fixtures, qlc-input-profiles, qlc-output-midi, qlc-output-peperoni,
          qlc-output-udmx, qlc-output-enttec-dmxusb, qlc-output-dmx4linux,
          qlc-input-enttec-wing, qlc-input-midi, qlc-input-hid
Conflicts: qlc-fixtures, qlc-input-profiles, qlc-output-midi, qlc-output-peperoni,
           qlc-output-udmx, qlc-output-enttec-dmxusb, qlc-output-dmx4linux,
           qlc-input-enttec-wing, qlc-input-midi, qlc-input-hid
Provides: qlc-fixtures, qlc-input-profiles, qlc-output-midi, qlc-output-peperoni,
           qlc-output-udmx, qlc-output-enttec-dmxusb, qlc-output-dmx4linux,
           qlc-input-enttec-wing, qlc-input-midi, qlc-input-hid
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Q Light Controller - The open DMX lighting desk
  Software lighting desk for controlling professional lighting fixtures.

# Package: qlc-ola
# Section: Other
# Architecture: i386 amd64
# Depends: ${shlibs:Depends}, ${misc:Depends}
# Description: OLA Output plugin for Q Light Controller
#   Open Lighting Architecture (OLA) output plugin for Q Light Controller.

Package: qlc-artnet
Section: Other
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ARTNET Output plugin for Q Light Controller
  ARTNET output plugin for Q Light Controller.

Package: qlc-dbg
Architecture: any
Section: debug
Priority: extra
Depends: qlc (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for Q Light Controller
  Q Light Controller - The Linux DMX lighting desk. This package contains the debugging
  symbols for QLC.
