#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

DEB_HOST_GNU_TYPE	?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE	?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_BUILD_ARCH		?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)

PHP5_HOST_GNU_TYPE	= $(subst gnulp,gnu,$(DEB_HOST_GNU_TYPE))
PHP5_BUILD_GNU_TYPE	= $(subst gnulp,gnu,$(DEB_BUILD_GNU_TYPE))

PHP5_HOST_GNU_TYPE	:= $(shell echo $(PHP5_HOST_GNU_TYPE) | sed 's/-gnu$$//')
PHP5_BUILD_GNU_TYPE	:= $(shell echo $(PHP5_BUILD_GNU_TYPE) | sed 's/-gnu$$//')

# enable the hardening wrapper
DEB_BUILD_HARDENING = 1
# but disable PIE
DEB_BUILD_HARDENING_PIE = 0
export DEB_BUILD_HARDENING DEB_BUILD_HARDENING_PIE

CFLAGS = -O2 -Wall -fsigned-char -fno-strict-aliasing
# LFS support
ifneq (yes,$(PHP5_COMPAT))
  CFLAGS += $(shell getconf LFS_CFLAGS)
endif

ifneq (nostrip, $(findstring nostrip, $(DEB_BUILD_OPTIONS)))
        install_strip = -s
endif

configure: configure-stamp

configure-stamp:
	dh_testdir
	if [ -d build ]; then rm -rf build; fi
	-mkdir build
	cd build && \
	CFLAGS="$(CFLAGS)" ../configure \
		--prefix=/usr --sysconfdir=/etc --localstatedir=/var/lib
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp
	dh_testdir
	cd build && $(MAKE)
	touch build-stamp

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	mkdir -p debian/php52/var/lib/php52
	chmod 01733 debian/php52/var/lib/php52
	mkdir -p debian/php52/$(EXTENSION_DIR)
	mkdir -p debian/php52/var/log/php52
	chown root:www-data debian/php52/var/log/php52
	chmod 0750 debian/php52/var/log/php52
	
	# install apache2 DSO module
	mkdir -p debian/libapache2-mod-php52/`apxs2 -q LIBEXECDIR`
	cp apache2-build/.libs/libphp5.so debian/libapache2-mod-php52/`apxs2 -q LIBEXECDIR`/libphp52.so
	mkdir -p debian/libapache2-mod-php52/etc/apache2/mods-available
	cp debian/apache2-php52.load debian/libapache2-mod-php52/etc/apache2/mods-available/php52.load
	cp debian/apache2-php52.conf debian/libapache2-mod-php52/etc/apache2/mods-available/php52.conf
	mkdir -p debian/libapache2-mod-php52/etc/php52/apache2
	cp php.ini-recommended debian/libapache2-mod-php52/etc/php52/apache2/php.ini
	sed -i "s#^extension_dir = \"./\"#extension_dir = \"$(EXTENSION_DIR)\"#" debian/libapache2-mod-php52/etc/php52/apache2/php.ini
	
	# install CGI
	cd cgi-build && $(MAKE) install-sapi INSTALL_ROOT=$(PWD)/debian/php52
	mkdir -p debian/php52/etc/php52/cgi
	cp php.ini-recommended debian/php52/etc/php52/cgi/php.ini
	sed -i "s#^extension_dir = \"./\"#extension_dir = \"$(EXTENSION_DIR)\"#" debian/php52/etc/php52/cgi/php.ini
	
	# install CLI
	cd cli-build && $(MAKE) install-cli INSTALL_ROOT=$(PWD)/debian/php52
	mkdir -p debian/php52/etc/php52/cli
	cp php.ini-recommended debian/php52/etc/php52/cli/php.ini
	sed -i 's#^display_errors = Off#display_errors = stderr#' debian/php52/etc/php52/cli/php.ini
	sed -i "s#^extension_dir = \"./\"#extension_dir = \"$(EXTENSION_DIR)\"#" debian/php52/etc/php52/cli/php.ini
	sed -i "s#^output_buffering = 4096#output_buffering = Off#" debian/php52/etc/php52/cli/php.ini
	
	# Install alternate paths
	cd cli-build && $(MAKE) install-build install-headers install-programs INSTALL_ROOT=$(PWD)/debian/php52-dev
	mv debian/php52-dev/usr/include/php debian/php52-dev/usr/include/php52
	sed -i 's~/include/php~/include/php52~g' debian/php52-dev/usr/bin/php-config52
	sed -i 's~/include`/php~/include`/php52~g' debian/php52-dev/usr/bin/phpize52
	
	# Install configuration
	mkdir -p debian/php52/etc/php52/conf.d
	cp debian/phpini.logging debian/php52/etc/php52/conf.d/logging.ini
	cp debian/phpini.limits debian/php52/etc/php52/conf.d/limits.ini
	cp debian/phpini.environment debian/php52/etc/php52/conf.d/environment.ini
	
	# Install PEAR
	cp -r pear-build/* debian/php52-pear/
	
	touch install-stamp

binary: binary-arch

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installcron --name=php52
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_strip -s
	dh_link -s
	dh_compress -s -X.ini
	dh_fixperms -s -X /var/lib/php52
	mkdir -p debian/php52/usr/share/linda/overrides
	echo "Tag: non-standard-dir-perm" >> debian/php52/usr/share/linda/overrides/php52
	echo "Data: /var/lib/php52.*" >> debian/php52/usr/share/linda/overrides/php52
	dh_installdeb -s
	dh_shlibdeps -s
	dh_gencontrol -s
	dh_md5sums -s
	dh_builddeb -s

clean:
	dh_testdir
	rm -f configure-stamp build-stamp
	rm -rf build
	dh_clean

.PHONY: build clean binary-indep binary-arch binary install configure
