Source: php52-runkit
Section: php
Priority: optional
Maintainer: Sascha Kettler <kettler@gmx.net>
Build-Depends: php52, php52-dev, shtool, chrpath, debhelper (>= 5), quilt
Standards-Version: 3.8.3
Homepage: http://www.php.net/

Package: php52-runkit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, php52
Description: Runkit extension for PHP
 Replace, rename, and remove user defined functions and classes.
 Define customized superglobal variables for general purpose use.
 .
 Homepage: https://github.com/zenovich/runkit
